*{
  margin: 0;
  padding: 0;
  border: none;
}

body{
  height: 2784px;
  padding: 0 1.5rem 0 1.5rem;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
}
p{
  font-size: 1rem;
  text-align: start;
  color: #5E6E85;
  line-height: 150%;
}
@media screen and (max-width: 1200px) {
  body{
    padding: 0;
  }
}
